*{
    margin :0;
    padding:0;
    border:0;
    outline:0;
    box-sizing :border-box;
    list-style :none;
    text-decoration: none;

}
:root{
--primary-hue:260;
--black-lightness:15%;
--dark-lightness:44%;
--light-lightness:94%;
--white-lightness:100%;
--color-primary: hsl(var(--primary-hue),88%,40%);
--color-white:hsl(0,5%,var(--white-lightness));
--color-light:hsl(var(--primary-hue),5%,var(--light-lightness));
--color-black:hsl(var(--primary-hue),5%,var(--black-lightness));
--color-dark:hsl(var(--primary-hue),5%,var(--dark-lightness));

/* GENERAL CONTAINER VARIABLES */
/* desktop */
--container-width-lg:76%; 
/* mobile/tablets */
--container-width-md:90%;


    /* general transition variable */
   --transition:all 600ms ease;

}
html{
    scroll-behavior:smooth;
}

body{
    /* font monsorat..300,400 regula,bold and semi bold  import in d html */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height:1.6;
    font-size: 0.9rem;
}

/* general container class */
.container{
    width:var(--container-width-lg);
    margin-inline:auto;
    max-width:1920px;
}
/* general section styles */
section{
    padding: 10rem 0;
    background:var(--color-light);
    transition:var(--transition);

}

.current {
    border-bottom: 4px solid white;
  }

